-# coding: utf-8
.block
  %h3 共有事項
  .content
    %p
      %strong Guide の編集について
    %p
      %strong タイトルは変更しないでください。
      パーマリンクが崩れてしまいます（タイトルから、規約によってパーマリンクを生成しているようです）。
    %p
      ガイドの最初の段落などに、日本語でのタイトル、というより一行での要約を書いておくと親切だと思います。
    %hr
    %p
      その他、何か共有したい事項を書く.
.block
  %h3 Links
  %ul.navigation
    %li=link_to "Padrino site", "http://www.padrinorb.com"
    %li=link_to "Padrino 日本語サイト", "http://jp.padrinorb.com"

