.block
  %h3 Blockテスト
  .content
    %p
      何か共有したい事項を書く.
.block
  %h3 Links
  %ul.navigation
    %li=link_to "Padrino site", "http://www.padrinorb.com"
    %li=link_to "Padrino 日本語サイト", "http://jp.padrinorb.com"