-# coding: utf-8
#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Padrino 日本語サイトの管理画面です。
        %span.hightlight
          取り急ぎの運用方針として、「好きなものから翻訳」「上書き上等」という感じでやっていっています。少しずつでも進めよう！
    %h2.title Padrino-Documents-Ja 翻訳進捗管理用 github pj について
    .inner
      %p= link_to "Github上に、サイト変更＋翻訳の進捗管理用のプロジェクトを作成しました (https://github.com/udzura/padrino-web-ja)", "https://github.com/udzura/padrino-web-ja"
      %p レポジトリ自体にはこのドキュメントのCMSのアプリケーションが乗っています。変更要望があれば（適宜ブランチを切り、）自由にコミットしてください。
      %p デプロイの権限は取り急ぎ Uchio Kondo にだけあります
      %p= "#{link_to "Issue Tracking", "https://github.com/udzura/padrino-web-ja/issues"} は、翻訳対象のバッティングを防ぐために利用しましょう。「～の記事を翻訳しています！」というときにチケットを切って自分にアサインする、のように。"

    %h2.title ToDo List
    .inner
      %p ・通常ページ系の翻訳 -> done(@05/06)
      %p ・Guide系の翻訳
      %p ・ブログの翻訳 -> 過去は少しずつ進める、新規更新分はできるだけキャッチアップ
      %p ・日本語独自記事の追加と本家へのフィードバック
      %p ・翻訳プロジェクトの運用体制確定

-content_for :sidebar, partial("base/sidebar")

