#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        Padrino 日本語サイトの管理画面です。
        %span.hightlight
          取り急ぎの運用方針として、「好きなものから翻訳」「上書き上等」という感じでやっていっています。少しずつでも進めよう！
    %h2.title ToDo List
      %ul
        %li 通常ページ系の翻訳 -> done(@05/06)
        %li Guide系の翻訳
        %li ブログの翻訳 -> 過去は少しずつ進める、新規更新分はできるだけキャッチアップ
        %li 日本語独自記事の追加と本家へのフィードバック
      %p
        %span.small
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      %p
        %span.gray
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      %hr
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %span.hightlight
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

-content_for :sidebar, partial("base/sidebar")
